body,p {
	padding: 0px;
	margin: 0px;
	font-family: Helvetica;
	font-size: 16px;
}
#container {
	width: 397px;
	height: 530px;
	background-color: #EEEEEE;/*#EEEEEE;*/
	border: 1px solid #EEEEEE;
	border-radius: 9px;
	padding: 2px 11px;
}
h1 {
	font-weight: normal;
	font-size: 1em;
}
article {
	margin-top: 37px;
	padding: 15px;
	border: 1px solid #b5b5b5;
	background-color: white;
	position: relative;
	overflow: hidden;
}
article>img {
	height: 86px;
	width: 136px;
	border: 1px solid black;
	background-color: green;
	float: left;
	margin-right: 15px;
}
article>p {
	margin-bottom: 10px;
	font-size: 0.8em;
}

button.listen, button.add {
	background-image: url(images/button.png);
	height: 24px;
	color: white;
	border:0;
	margin-top: 7px;
	float:right;
}

button.listen {
	width: 76px;
}

button.add {
	width: 65px;
	margin-left: 3px;
}

button:hover {
	background-image: url(images/buttonHover.png);
}