ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	cursor: pointer;
	font-size: 20px;
}
ul ul {
	display: none;
}
li:hover>ul {
	display: block;
	padding-left: 20px;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
ul ul a {
	color: gray;
}